global
  daemon
  maxconn 256
{{if getenv "HAPROXY_NAMESERVER"}}
resolvers dns1
  nameserver      dns {{getenv "HAPROXY_NAMESERVER"}}:53
  resolve_retries 3
  timeout retry   1s
  hold valid      10s
{{end}}
defaults
  timeout connect 48h
  timeout client 48h
  timeout server 48h

  balance roundrobin

  retries 3

  option abortonclose
  option redispatch
# FIXME: does not appear to work under docker
#  option tcplog
#  log /dev/stdout local0

listen admin
  mode http
  bind *:9001
  stats enable

{{/* /tcp/30000/some_service = 10.1.0.11:22 check port 22 */}}

{{range ls "/"}}
{{$port := .}}
#
# TCP:{{$port}}
#
frontend tcp_{{$port}}
  mode tcp
  bind *:{{$port}} {{getenv "HAPROXY_BIND_OPTIONS"}}
  default_backend tcp_{{$port}}

backend tcp_{{$port}}
{{range ls (printf "/%s" $port)}}{{$service := .}}{{if exists (printf "/%s/%s" $port $service)}}  server {{$service}} {{getv (printf "/%s/%s" $port $service)}}{{end}}
{{end}}
{{end}}
